body {
  text-decoration:none;
  font-family:arial;
  font-size:24px;
  list-style-type:none;
  padding:0px 10px;
  text-align:center;
  margin:0;
  background-color:grey;
}

section ul li {
  text-decoration:none;
  list-style-type:none;
  color:black;
  border:2px solid white;
  display: inline-block;
  width: 20%;
}

a {
  list-style-type:none;
  text-decoration:none;
  color:black;
}

h1 {
  text-decoration:none;
  list-style-type:none;
  color:black;
}
 
p {
  display: inline-block;
  width: 75%;
}